<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" routerLink="/"><img src="../../assets/DC.png" alt="Image" class="img-fluid" width="100" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto justify-content-center">
      <!-- Add this button to trigger the calculator modal -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">Product form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product-table">Production rate details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
