<div class="homepage">
  <div class="container">
    <div class="row">
      <!-- Left Column for Image -->
      <div class="col-md-6">
        <img src="assets\undraw_Calculator_re_alsc.png" alt="Image" class="img-fluid" width="500" height="400">
      </div>
      <!-- Right Column for Content -->
      <div class="col-md-6 mt-5">
        <div class="col-md-12">
          <p class="text-center mb-4">Make your production calculations simple</p>
          <div class="text-center">
            <button class="learn-more">
              <span aria-hidden="true" class="circle">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text" routerLink="/product" routerLinkActive="active">Get started</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
