@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cormorant+Garamond:wght@600&family=Josefin+Slab:wght@700&family=Permanent+Marker&family=Rubik+Doodle+Shadow&family=Rubik+Lines&family=Yatra+One&display=swap');
.table td,
.table th {
    width: 25%; /* Adjust as needed */
    font-family: 'Josefin Slab', serif;
    color: #0daedfe6;
}
